In [2]:
import pandas as pd
import numpy as np

In [32]:
df_train=pd.read_csv('data/train.csv')
df_store=pd.read_csv('data/store.csv')

/tmp/ipykernel_30277/1131126083.py:1: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df_train=pd.read_csv('data/train.csv')

In [4]:
df_store.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1115 entries, 0 to 1114
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Store                      1115 non-null   int64
 1   StoreType                  1115 non-null   object
 2   Assortment                 1115 non-null   object
 3   CompetitionDistance        1112 non-null   float64
 4   CompetitionOpenSinceMonth  761 non-null    float64
 5   CompetitionOpenSinceYear   761 non-null    float64
 6   Promo2                     1115 non-null   int64
 7   Promo2SinceWeek            571 non-null    float64
 8   Promo2SinceYear            571 non-null    float64
 9   PromoInterval              571 non-null    object
dtypes: float64(5), int64(2), object(3)
memory usage: 87.2+ KB

In [23]:
df_store[df_store['CompetitionOpenSinceMonth'].isnull()]['CompetitionDistance'].unique()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 544 entries, 0 to 1113
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Store                      544 non-null    int64
 1   StoreType                  544 non-null    object
 2   Assortment                 544 non-null    object
 3   CompetitionDistance        542 non-null    float64
 4   CompetitionOpenSinceMonth  396 non-null    float64
 5   CompetitionOpenSinceYear   396 non-null    float64
 6   Promo2                     544 non-null    int64
 7   Promo2SinceWeek            0 non-null      float64
 8   Promo2SinceYear            0 non-null      float64
 9   PromoInterval              0 non-null      object
dtypes: float64(5), int64(2), object(3)
memory usage: 46.8+ KB

Bei fehlenden Werten für die Zeit seitdem der Wettberber vorhanden ist kann es trotzdem einen solchen geben.

In [24]:
df_store[df_store['Promo2']==0].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 544 entries, 0 to 1113
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Store                      544 non-null    int64
 1   StoreType                  544 non-null    object
 2   Assortment                 544 non-null    object
 3   CompetitionDistance        542 non-null    float64
 4   CompetitionOpenSinceMonth  396 non-null    float64
 5   CompetitionOpenSinceYear   396 non-null    float64
 6   Promo2                     544 non-null    int64
 7   Promo2SinceWeek            0 non-null      float64
 8   Promo2SinceYear            0 non-null      float64
 9   PromoInterval              0 non-null      object
dtypes: float64(5), int64(2), object(3)
memory usage: 46.8+ KB

Die Werte für Promo2SinceWeek, Promo2SinceYear und PromoInterval sind genau dann Null, wenn Promo2==0 gilt.

In [31]:
df_train.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday,Year,...,Day,Week,Dayofweek,Dayofyear,Is_month_end,Is_month_start,Is_quarter_end,Is_quarter_start,Is_year_end,Is_year_start
15,16,5,2015-07-31,10231,979,1,1,0,1,2015,...,31,31,4,212,True,False,False,False,False,False
16,17,5,2015-07-31,8430,946,1,1,0,1,2015,...,31,31,4,212,True,False,False,False,False,False
17,18,5,2015-07-31,10071,936,1,1,0,1,2015,...,31,31,4,212,True,False,False,False,False,False
18,19,5,2015-07-31,8234,718,1,1,0,1,2015,...,31,31,4,212,True,False,False,False,False,False
19,20,5,2015-07-31,9593,974,1,1,0,0,2015,...,31,31,4,212,True,False,False,False,False,False

In [17]:
df_train['StateHoliday'].unique()

array(['0', 'a', 'b', 'c', 0], dtype=object)

Zu Klassifizieren mit '0':0;'a':1;'b':2;'c':3

In [37]:
df_train['StateHoliday']=df_train['StateHoliday'].replace('0',0)
df_train['StateHoliday']=df_train['StateHoliday'].replace('a',1)
df_train['StateHoliday']=df_train['StateHoliday'].replace('b',2)
df_train['StateHoliday']=df_train['StateHoliday'].replace('c',3)

df_train['StateHoliday']=df_train['StateHoliday'].astype(int)

df_train['StateHoliday'].unique()

array([0, 1, 2, 3])

array([1, 0])

In [34]:
df_train['Date']=pd.to_datetime(df_train['Date'])

In [35]:
df_train['Year']=df_train['Date'].dt.year

df_train['Month']=df_train['Date'].dt.month

df_train['Day']=df_train['Date'].dt.day

/tmp/ipykernel_30277/2043176539.py:7: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  df_train['Week']=df_train['Date'].dt.week

In [36]:
df_train['Is_month_end']=df_train['Date'].dt.is_month_end

df_train['Is_month_start']=df_train['Date'].dt.is_month_start

df_train['Is_quarter_end']=df_train['Date'].dt.is_quarter_end

df_train['Is_quarter_start']=df_train['Date'].dt.is_quarter_start

df_train['Is_year_end']=df_train['Date'].dt.is_year_end

df_train['Is_year_start']=df_train['Date'].dt.is_year_start