In [25]:
%pip install numpy
%pip install pandas

Requirement already satisfied: numpy in /home/codespace/.local/lib/python3.10/site-packages (1.24.1)

[notice] A new release of pip available: 22.3.1 -> 23.0
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: panda in /usr/local/python/3.10.4/lib/python3.10/site-packages (0.3.1)
Requirement already satisfied: requests in /home/codespace/.local/lib/python3.10/site-packages (from panda) (2.28.2)
Requirement already satisfied: setuptools in /usr/local/python/3.10.4/lib/python3.10/site-packages (from panda) (58.1.0)
Requirement already satisfied: idna<4,>=2.5 in /home/codespace/.local/lib/python3.10/site-packages (from requests->panda) (3.4)
Requirement already satisfied: certifi>=2017.4.17 in /home/codespace/.local/lib/python3.10/site-packages (from requests->panda) (2022.12.7)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /home/codespace/.local/lib/python3.10/site-packages (from requests->panda) (1.26.14)
Requirement already satisfied: charset-normalizer<4,>=2 in /home/codespace/.local/lib/python3.10/site-packages (from requests->panda) (3.0.1)

[notice] A new release of pip available: 22.3.1 -> 23.0
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
import numpy as np

In [9]:
df_train=pd.read_csv('data/train.csv')
df_store=pd.read_csv('data/store.csv')

/tmp/ipykernel_1281/1131126083.py:1: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df_train=pd.read_csv('data/train.csv')

In [4]:
df_store.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1115 entries, 0 to 1114
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Store                      1115 non-null   int64
 1   StoreType                  1115 non-null   object
 2   Assortment                 1115 non-null   object
 3   CompetitionDistance        1112 non-null   float64
 4   CompetitionOpenSinceMonth  761 non-null    float64
 5   CompetitionOpenSinceYear   761 non-null    float64
 6   Promo2                     1115 non-null   int64
 7   Promo2SinceWeek            571 non-null    float64
 8   Promo2SinceYear            571 non-null    float64
 9   PromoInterval              571 non-null    object
dtypes: float64(5), int64(2), object(3)
memory usage: 87.2+ KB

In [23]:
df_store[df_store['CompetitionOpenSinceMonth'].isnull()]['CompetitionDistance'].unique()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 544 entries, 0 to 1113
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Store                      544 non-null    int64
 1   StoreType                  544 non-null    object
 2   Assortment                 544 non-null    object
 3   CompetitionDistance        542 non-null    float64
 4   CompetitionOpenSinceMonth  396 non-null    float64
 5   CompetitionOpenSinceYear   396 non-null    float64
 6   Promo2                     544 non-null    int64
 7   Promo2SinceWeek            0 non-null      float64
 8   Promo2SinceYear            0 non-null      float64
 9   PromoInterval              0 non-null      object
dtypes: float64(5), int64(2), object(3)
memory usage: 46.8+ KB

Bei fehlenden Werten für die Zeit seitdem der Wettberber vorhanden ist kann es trotzdem einen solchen geben.

In [24]:
df_store[df_store['Promo2']==0].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 544 entries, 0 to 1113
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Store                      544 non-null    int64
 1   StoreType                  544 non-null    object
 2   Assortment                 544 non-null    object
 3   CompetitionDistance        542 non-null    float64
 4   CompetitionOpenSinceMonth  396 non-null    float64
 5   CompetitionOpenSinceYear   396 non-null    float64
 6   Promo2                     544 non-null    int64
 7   Promo2SinceWeek            0 non-null      float64
 8   Promo2SinceYear            0 non-null      float64
 9   PromoInterval              0 non-null      object
dtypes: float64(5), int64(2), object(3)
memory usage: 46.8+ KB

Die Werte für Promo2SinceWeek, Promo2SinceYear und PromoInterval sind genau dann Null, wenn Promo2==0 gilt.

## Datacleaning

# train.csv

In [10]:
df_train.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1
1,2,5,2015-07-31,6064,625,1,1,0,1
2,3,5,2015-07-31,8314,821,1,1,0,1
3,4,5,2015-07-31,13995,1498,1,1,0,1
4,5,5,2015-07-31,4822,559,1,1,0,1

In [11]:
df_train['StateHoliday'].unique()

array(['0', 'a', 'b', 'c', 0], dtype=object)

Zu Klassifizieren mit '0':0;'a':1;'b':2;'c':3

In [12]:
df_train['StateHoliday']=df_train['StateHoliday'].replace('0',0)
df_train['StateHoliday']=df_train['StateHoliday'].replace('a',1)
df_train['StateHoliday']=df_train['StateHoliday'].replace('b',2)
df_train['StateHoliday']=df_train['StateHoliday'].replace('c',3)

df_train['StateHoliday']=df_train['StateHoliday'].astype(int)

df_train['StateHoliday'].unique()

array([0, 1, 2, 3])

'Date' als Datetime formatieren und Tag Monat und Jahr seperat auslesen.

In [13]:
df_train['Date']=pd.to_datetime(df_train['Date'])

df_train['year']=df_train['Date'].dt.year

df_train['month']=df_train['Date'].dt.month

df_train['day']=df_train['Date'].dt.day

Zusatzlich Spalten für Monats- / Jahres- / Quartalsanfang / -ende anlegen.

In [14]:
df_train['is_month_end']=df_train['Date'].dt.is_month_end

df_train['is_month_start']=df_train['Date'].dt.is_month_start

df_train['is_quarter_end']=df_train['Date'].dt.is_quarter_end

df_train['is_quarter_start']=df_train['Date'].dt.is_quarter_start

df_train['is_year_end']=df_train['Date'].dt.is_year_end

df_train['is_year_start']=df_train['Date'].dt.is_year_start

# store.csv